<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remote</key>
	<array>
		<string>http://132.160.98.225/axis-cgi/jpg/image.cgi</string>
		<string>http://ps1puka.ps1.ifa.hawaii.edu/cgi-bin/colorAllSkyCam?image=current</string>
	</array>
</dict>
</plist>
