<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remote</key>
	<array>
		<string>http://koa.ifa.hawaii.edu/mhlau/MKSatImages/MKSatVisBigIsland.php</string>
		<string>http://koa.ifa.hawaii.edu/mhlau/MKSatImages/MKSatVisHawaii.php</string>
		<string>http://koa.ifa.hawaii.edu/mhlau/MKSatImages/MKSatVisHawaiiWide.php</string>
		<string>http://koa.ifa.hawaii.edu/mhlau/MKSatImages/MKSatVisHItoMain.php</string>
	</array>
</dict>
</plist>
